# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/

# Package installer artifacts
echo.egg-info/

# Virtual environment
venv/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

response_testing.py 
test_context.py
